@media screen and (max-width:700px){

    header .container{
        display: flex;
        flex-direction: column;
    }

    .titulo{
        padding-top: 10px;
        margin-top: 5%;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif
    }
    .botao {
        margin-top: 5px;
        width: 190px;
        height: 90px;

    }

    .container .botoes{
        display: flex;
    }


    .text-center{
        text-align: center;
    }
    

}

@midia screen and (min-width:1000px){

    .descricao{
        width:50%;
    }
}