@media screen and (max-width:700px){

    header .container{
        display: flex;
        flex-direction: column;
    }

    .titulo{
        padding-top: 100px;
        margin-top: 5%;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif
    }
    .botao {
        margin-top: 15px;
        width: 190px;
        height: 60px;

    }
    .carrosel-vendas{
        margin-top: 20%;
    }

    .text-center{
        text-align: center;
    }

    .box-vendas{
        text-align: center;
        height: 100%;
        width: 100%;
        display: block;
    }
    
    .box-vendas button{
        width: 90px;
        height: 60px;
        margin-top: 15px;
        border-radius: 10px;
    }

}

@midia screen and (min-width:1000px){

    .descricao{
        width:50%;
    }
}